<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotiq_hande_gripper">
  <xacro:arg name="parent" default="tool0"/>
  <xacro:arg name="grip_pos_min" default="0"/>
  <xacro:arg name="grip_pos_max" default="0.025"/>
  <xacro:arg name="tty_port" default="/tmp/ttyUR"/>
  <xacro:arg name="baudrate" default="115200"/>
  <xacro:arg name="parity" default="N"/>
  <xacro:arg name="data_bits" default="8"/>
  <xacro:arg name="stop_bit" default="1"/>
  <xacro:arg name="slave_id" default="9"/>
  <xacro:arg name="frequency_hz" default="10"/>

  <xacro:arg name="create_socat_tty" default="false"/>
  <xacro:arg name="socat_ip_address" default="192.168.100.10"/>
  <xacro:arg name="socat_port" default="54321"/>

  <xacro:arg name="use_fake_hardware" default="true"/>

  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.xacro"/>

  <link name="$(arg parent)"/>
  <xacro:robotiq_hande_gripper
    name="robotiq_hande_gripper"
    prefix=""
    parent="$(arg parent)"
    grip_pos_min="$(arg grip_pos_min)"
    grip_pos_max="$(arg grip_pos_max)"
    tty_port="$(arg tty_port)"
    baudrate="$(arg baudrate)"
    parity="$(arg parity)"
    data_bits="$(arg data_bits)"
    stop_bit="$(arg stop_bit)"
    slave_id="$(arg slave_id)"
    frequency_hz="$(arg frequency_hz)"
    create_socat_tty="$(arg create_socat_tty)"
    socat_ip_address="$(arg socat_ip_address)"
    socat_port="$(arg socat_port)"
    use_fake_hardware="$(arg use_fake_hardware)"
  />
</robot>
